* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;


}
.contenedor-general {
     display: flex;
     flex-direction: column;
     min-width: 100vh;
}
.contenedor-central {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    height: 100%;
    
}

header {

    background-image: url(../asset/imagenes/fabricante.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 10em;
    padding: 1em;
    background-size: cover;
    background-position: center;
   
}
header h1 {
    margin: 0;
    
}
body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../asset/imagenes/fondoliso.jpg);
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: cover;
    min-height: 100vh;
    
    
}

.td, img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 40px rgba(1, 1, 1, 1);
    
}


.subtitulo{
    color: beige;
    margin: auto;
}

.td, p{
    color: black;
    font-size: 30px;
}
tr {
    display: flex;
    padding: 2em;
   
    
}

td {
    padding: 2em;
    align-content: center;
}
.footer {

    background-color: rgba(218, 107, 33, 0.808);
    height: auto; /* Cambié esto a auto para evitar problemas de altura */
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 0;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    justify-content: flex-end;
    
    
  
}



 