

body{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  overflow: scroll;
  margin-right: 0;
  height: 100%;
  margin-left: 0;
  font-size: 30px;  
  
}


header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgb(23, 23, 61) ;
  color: aqua;  
  flex-wrap: wrap;        
}

.menu a {
  text-decoration: none;
  color: rgb(224, 210, 210);
  transition: color 0.3s;
  margin-left: 30px;
}

.menu a:hover {
  color: rgb(211, 190, 190);
  text-decoration: none;
}




.menu {
  align-content: center;
  margin-right: 180px;
  
}
header h2{
  align-content: center;
  margin-left: 80px;
  flex-wrap: wrap;
  display: flex;
  

}
.presentacion{
  display: flex;
  background-color:rgb(23, 23, 61) ;
  padding-left: 50px;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 180px;       
}
.presentacion h1 {
  color: beige;
 
}
.presentacion p{
  color: beige;   
  font-size: 1.2em;
  
}
.presentacion .bioghrafia {
  font-size: 3em;
}
.foto-perfil {
  border: 10px;
  width: 300px;
  height: 480px;
  border: 20px;
  margin-bottom: 40px;
  
}
.container {
  align-items: center;
  justify-content: center;
  display: flex;      
}

article .mis-skills{
  flex-wrap: wrap;
}
.mis-skills  {
  display: flex;
  display: flex;
  background-color: beige;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}
.skills-descripcion {
  font-size: 1.2em;
  color: black;
  margin-right: 35px;
  
}
.subtitulo-skills {
  color: #e05050;
}
.iconos i{
  font-size: 3em;
  margin-left: 30px;
  
}
 
.container {
  flex-wrap: wrap;
  
  
}
.container .iconos
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
article .portafolio-img {
  height: auto;
  object-fit: cover;
  margin: 10px;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  
}
.portafolio {
  justify-content: center;
  align-content: center;
  display: flex;
}
section {
  
  color: aqua;
  justify-content: center;
  background-color: rgb(23, 23, 61) ;
  
}

article .container {
  width: 100%; 
  margin-left: 50px;  
  display: flex;
  justify-content: space-around;   
}

div, p .skills-descripcion {
  margin-right: 30px;
  flex-wrap: wrap;
  color: rgb(27, 46, 46);
  font-size: 20px;
}
footer {
  background-color: beige;
  min-width: 300px;  
  min-height: 200px;
  color: rgb(189, 68, 68);
  display: flex;
  justify-content: center; 
  align-items: center;  
  flex-wrap: wrap;
  margin-bottom: 0;
  
  
}
.img-portafolio {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
 
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 180px;
  
  

}
.portafolio-img {
  
  height: 30px; /* Ajusta el ancho según tus necesidades */
  gap: 30px;
  object-fit: cover;
 flex-wrap: wrap; /* Asegura que la imagen se ajuste al contenedor */
}
.titulo-portafolio{
  margin-left: 50px;
  color: beige;
}
.logo-footer{
  width: 150px;
  margin: 20px;
  margin-bottom: 40px;
  transition: transform 0.3s, filter 0.3s ease;
}
.footer p {
  display: flex;
  justify-content: center;
  align-content: center;
  color:#e05050 ;
  
}
.logo-hover :hover{
  transform: scale(1.2);
  filter: hue-rotate(90deg);

}
  

